body, a, p {
    font-family: Arial, sans-serif;
}

a {
    font-size: 13px;
}

/* Navbar */

#navbar {
    padding: 16px 30px 0px 0px;
    height: 30px;
}

#navbar ul li {
    display: block;
    float: right;
    padding: 0px 0px 0px 15px;
    height: 30px;
    line-height: 30px;
    color: rgba(0,0,0,0.87);
}

.text-link:hover {
    text-decoration: underline;
}

#google-apps {
    display: block;
    background-image: url('../imgs/i2_2ec824b0.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    height: 30px;
    width: 30px;
}

#google-apps:hover {
    opacity: .85;
}

#log-in {
    border-width: 1px;
    border-color: #4285f4;
    border-style: solid;
    background-color:#4683ea;
    border-radius: 2px;
    padding: 6px 12px;
    font-weight: bold;
    color: white;
}

/* Main */

#logo-area {
    margin-top: 43px;
    height: 233px;
}

#logo {
    padding-top: 109px;
}

#search-box {
    width: 582px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
}

#search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#search-box-elements {
    display: flex;
    height: 34px;
    padding: 5px 8px 0px 14px;
    float: left;
    line-height: 34px;
}

#search-icon-box {
    display: flex;
    padding-right: 13px;
    align-items: center;

}

#search-icon {
    margin-top: -3px;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    color: #9AA0A6;
}

#search-icon svg {
    height: 100%;
    width: 100%;

}

#textarea {
    display: flex;
    width: 517px;
    border: transparent;
    font-size: 16px;
}