body, a, p {
    font-family: Arial, sans-serif;
}

a {
    font-size: 13px;
}

.left {
    float: left;
}

.right {
    float: right;
}


/** Index.html **/

/* Navbar */

#navbar {
    padding: 16px 30px 0px 0px;
    height: 30px;
}

#navbar ul li {
    display: block;
    float: right;
    padding: 0px 0px 0px 15px;
    height: 30px;
    line-height: 30px;
    color: rgba(0,0,0,0.87);
}

.text-link:hover {
    text-decoration: underline;
}

.google-apps {
    display: block;
    background-image: url('../imgs/i2_2ec824b0.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    height: 30px;
    width: 30px;
}

.google-apps:hover {
    opacity: .85;
}

.log-in {
    border-width: 1px;
    border-color: #4285f4;
    border-style: solid;
    background-color:#4683ea;
    border-radius: 2px;
    padding: 6px 12px;
    font-weight: bold;
    color: white;
}

/* Main */

#logo-area {
    margin-top: 43px;
    height: 233px;
}

#logo {
    padding-top: 109px;
}

.search-box {
    width: 582px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
}

.search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#search-box-elements {
    display: flex;
    height: 34px;
    padding: 5px 8px 0px 14px;
    float: left;
    line-height: 34px;
}

.search-icon-box {
    display: flex;
    padding-right: 13px;
    align-items: center;

}

.search-icon {
    margin-top: -3px;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    color: #9AA0A6;
}

.search-icon svg {
    height: 100%;
    width: 100%;

}

.textarea {
    display: flex;
    width: 517px;
    border: transparent;
    font-size: 16px;
}

#search-buttons-box {
    padding-top: 18px;
    height: 70px;
}

.search-button {
    margin: 11px 4px;
    padding: 0px 16px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    height: 36px;
    font-size: 14px;
    line-height: 27px;
    color: #5F6368;
}

.search-button:hover {
    color: #222;
    border-color: #c6c6c6;
}

#other-languages {
    font-size: 13px;
    margin-bottom: 24px;
}

#other-languages span {
    line-height: 28px;
}

#other-languages a {
    color: rgb(26, 13, 171);
}

#other-languages a:hover {
    text-decoration: underline rgb(26, 13, 171);
}

/* Footers */

.footers {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100vw;
    border-top-width: 1px;
    border-top-color: #e4e4e4;
    border-top-style: solid;
    background-color: #f2f2f2;
    line-height: 40px;
}

#sub-footer {
    bottom: 41px;
}

.footers ul li {
    display: block;
    float: left;
}

.footer-text ul li a, .footer-text span{
    color: rgba(0,0,0,0.54);
}

.footer-right-links {
    float: right;
}

.li-left {
    padding-right: 27px;
}

.li-right {
    padding-left: 27px;
}

.footer-text {
    padding-left: 30px;
    padding-right: 30px;
}

/** Search.html **/

/* Search header */
.bar-li {
    display: block;
    float: left;
    height: 48px;
    line-height: 48px;
}

#search-header {
    margin-top: 15px;
    padding: 0px 30px;
}

#search-logo {
    display: block;
    background-image: url('../imgs/i2_2ec824b0.png');
    background-size: 528px 68px;
    background-position: 0px -36px;
    width: 90px;
    height: 30px;
    margin-top: 9px;
    margin-right: 28px;
}

#sb-search-pg {
    width: 640px;
}

#ta-search-pg {
    padding-left: 16px;
    width: 570px;
}

#sib-search-pg {
    width: 44px;
    padding: 0 13px 0 0;
    background: none;
    border: none;
    font-size: 100%;
    font-family: inherit;
    cursor: pointer;
}

#si-search-pg {
    height: 24px;
    width: 24px;
    color: #4285f4;
}

#ga-search-pg {
    background-position: -125px -31px;
    padding: 7px;
    margin-top: 2px;
}

#ga-search-pg:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
}

#log-in-search-pg {
    margin-left: 12px;
    padding: 9px 23px;
    font-weight: normal;
    background: #2b7de9;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
}
